@font-face {
    font-family: ubuntumono;
    src: url(../fonts/ubuntumono.ttf);
}
@font-face {
  font-family: aspergit;
  src: url(../fonts/aspergit.ttf);
}
@font-face {
    font-family: aspergitbold;
    src: url(../fonts/aspergitbold.ttf);
}
@font-face {
  font-family: bender;
  src: url(../fonts/bender.ttf);
}
@font-face {
    font-family: benderbold;
    src: url(../fonts/benderbold.ttf);
}
